Brotli==1.1.0
build==1.3.0
cached-property==1.5.2
CADET-Process==0.11.1
CADET-RDM==1.0.1
conda-libmamba-solver==25.4.0
cryptography==45.0.6
exceptiongroup==1.3.0
flake8==7.3.0
fqdn==1.5.1
h2==4.2.0
isoduration==20.11.0
jupyterlab==4.4.6
jupyterlab_myst==2.4.2
libmambapy==2.3.1
pickleshare==0.7.5
pip==25.2
pre_commit==4.3.0
PySocks==1.7.1
pytest==8.4.1
pytz==2025.2
rfc3987-syntax==1.1.0
tinycss2==1.4.0
tomli==2.2.1
typing_utils==0.1.0
uri-template==1.3.0
webcolors==24.11.1
wheel==0.45.1
win_inet_pton==1.1.0
